@model BusinessModel.AccountModel
@{
    ViewBag.Title = "User Registration";
    Layout = null;


    List<SelectListItem> AnnualSalaryInLakh = new List<SelectListItem>();
    for (int i = 0; i <= 100; i++)
    {
        AnnualSalaryInLakh.Add(new SelectListItem
        {
            Text = i.ToString(),
            Value = i.ToString()

        });
    };
    AnnualSalaryInLakh.Insert(0, new SelectListItem { Text = "select", Value = "" });
    List<SelectListItem> AnnualSalaryInThousand = new List<SelectListItem>();
    for (int i = 1; i <= 99; i++)
    {
        AnnualSalaryInThousand.Add(new SelectListItem
        {
            Text = i.ToString(),
            Value = i.ToString()

        });
    };
    AnnualSalaryInThousand.Insert(0, new SelectListItem { Text = "select", Value = "" });

    List<SelectListItem> WorkingSince = new List<SelectListItem>();
    for (int i = 1970; i <= DateTime.Now.Year; i++)
    {
        WorkingSince.Add(new SelectListItem
        {
            Text = i.ToString(),
            Value = i.ToString()

        });
    };
    WorkingSince.Insert(0, new SelectListItem { Text = "select", Value = "" });
}
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JobsBridge</title>

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@Styles.Render("~/bundles/jquery")*@

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900" rel="stylesheet">

    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>


</head>
<body>
    <div class="container tpContainer mainBGHP">
        <div class="row">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 topContainer">
                <div class="pull-left">
                    <div id="main">
                        <span style="cursor:pointer" class="glyphicon glyphicon-menu-hamburger" onclick="openNav()"></span>
                        <a href="index.html" style="cursor:pointer" class="logo_small">Jobs Bridge</a>

                    </div>
                </div>
                <div class="pull-right tpRightNav" style="display:none;">
                    <ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="loginJobSeeker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Login</a>
                            <ul class="dropdown-menu pull-right" aria-labelledby="loginJobSeeker">
                                <li class="noPaddingLR">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="usr" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                                        </div>
                                        <div class="checkbox sf">
                                            <label><input type="checkbox"> Stay Signed In</label><a href="">Forget Password</a>
                                        </div>
                                        <a type="submit" class="btn btn-block btn-login">Login</a>
                                        <a type="submit" class="btn btn-block btn-default" href="registration.html">New User? Sign in Here</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">For Employer</a></li>
                    </ul>
                </div>
            </div><!-- Top Row of Navigation -->

            <div class="col-xs-12 col-sm-12 col-md-12 headingInnerMain">
                Upload Resume On <span>JobsBridge</span> Now!
            </div><!-- logo -->

        </div>
    </div><!-- topHeader Ends -->
    @using (Html.BeginForm("RegisterNewUser", "Account", FormMethod.Post))
    {
        <div class="container benifits registration">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 linkedIn"><a href="javascript:void(0);"><img src="~/Content/images/login_google.png"></a> &nbsp; <a href="javascript:void(0);"><img src="~/Content/images/login_fb.png"></a> &nbsp; <a href="javascript:void(0);"><img src="~/Content/images/login_in.png"></a></div>
                <div class="clearfix"></div>
                <h5>or</h5>
                <h1>Create a New Account</h1>
                <div class="col-xs-6 col-xs-offset-3 steps">
                    @*<ul><li class="active">Personal Details</li><li>Employment</li><li>Education</li></ul>*@
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Personal Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Employment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Education</a>
                        </li>
                    </ul>
                </div>
                <!-- Tab panels -->
                <div class="tab-content card">
                    <!--Panel 1-->
                    <div class="tab-pane fade in show active indigo" id="panel1" role="tabpanel">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="col-xs-6 col-xs-offset-3 baseregister">
                                <div class="col-xs-12">
                                    @*<form>*@
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Name" })
                                        @*<input type="name" class="form-control" id="email" placeholder="Name">*@
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(X => X.EmailID, new { @class = "form-control", @placeholder = "Email" })
                                        @*<input type="email" class="form-control" id="email" placeholder="Email">*@
                                    </div>
                                    <div class="form-group">
                                        @*<input type="password" class="form-control" id="pwd" placeholder="Password">*@
                                        @Html.TextBoxFor(X => X.Password, new { @class = "form-control", @placeholder = "Password" })
                                        @*<label for="pwd" class="lbl">(Password must be at least 6 characters long)</label>*@
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(X => X.MobileNumber, new { @class = "form-control", @placeholder = "Mobile No." })
                                        @*<input type="mobile" class="form-control" id="email" placeholder="Mobile No.">*@
                                    </div>
                                    <div class="form-group currentLocation clearfix">
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Select Experience
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu8">
                                                    <li><a href="javascript:void(0);">1</a></li>
                                                    <li><a href="javascript:void(0);">2</a></li>
                                                    <li><a href="javascript:void(0);">3</a></li>
                                                    <li><a href="javascript:void(0);">4</a></li>
                                                    <li><a href="javascript:void(0);">5</a></li>
                                                    <li><a href="javascript:void(0);">6</a></li>
                                                    <li><a href="javascript:void(0);">7</a></li>
                                                    <li><a href="javascript:void(0);">8</a></li>
                                                    <li><a href="javascript:void(0);">9</a></li>
                                                    <li><a href="javascript:void(0);">10</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Gender</label>
                                        <div class="ctm_radio">
                                            <label class="col-xs-6 btnAmPm center-aligned time-period-right"><input type="radio" name="gender" value="AM">Male</label>
                                            <label class="col-xs-6 btnAmPm center-aligned time-period-right"><input type="radio" name="gender" value="PM">Female</label>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="uploadResume">
                                            <input type="uploadresume" class="form-control" id="email" placeholder="Upload Resume"><button class="fa fa-upload" aria-hidden="true"></button>
                                        </div>
                                        <label class="lbl">We will email you a verification link at the email address entered above. Check your spam box if you do not see that email. You will have to verify your email to complete signup process.</label>
                                    </div>
                                    <div class="col-xs-12 noPaddingLR">
                                        <input class="JSbutton col-xs-12 btn btn-lg" type="submit" value="Create Profile" /><span class="pull-right glyphicon glyphicon-arrow-right"></span>
                                        @* <a class="JSbutton col-xs-12 btn btn-lg" href="registration_step2.html"><span class="pull-left">Create Profile</span><span class="pull-right glyphicon glyphicon-arrow-right"></span></a>*@
                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Panel 1-->
                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel2" role="tabpanel">
                        @*<div class="container benifits registration">
                            <div class="row">*@
                        @*  <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok"></span> &nbsp; You have successfully created your profile with us.</div>*@
                        @* <div class="col-xs-6 col-xs-offset-3 steps"><ul><li>Personal Details</li><li class="active">Employment</li><li>Education</li></ul></div>*@
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="col-xs-6 col-xs-offset-3 baseregister">
                                <div class="col-xs-12">
                                    @*<form>*@
                                    <div class="form-group">
                                        <label>Current Designation <span>*</span></label>
                                        @Html.TextBoxFor(x => Model.employementDetails.CurrentDesignation, new { @class = "form-control", @placeholder = "CurrentDesignation" })
                                        @*<input type="email" class="form-control" id="email">*@
                                    </div>
                                    <div class="form-group">
                                        <label>Current Company <span>*</span></label>
                                        @Html.TextBoxFor(x => Model.employementDetails.CurrentCompany, new { @class = "form-control", @placeholder = "CurrentCompany" })
                                    </div>
                                    <div class="form-group annualSalary clearfix">
                                        <label>Annual Salary <span>*</span></label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="col-xs-8 padding-lft">

                                                <select class="selectpicker" data-style="btn " title="Select Location" data-size="5">
                                                    <option value="id">Active</option>
                                                    <option value="ms">In-Active</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-xs-4 noPaddingLR">
                                                <div class="dropdown ">
                                                    @*<button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            Select
                                                            <span class="caret"></span>
                                                        </button>*@
                                                    @Html.DropDownListFor(x => Model.employementDetails.AnnualSalaryInlakhs, AnnualSalaryInLakh, new { @class = "form-control  dropdown - menu col - xs - 12" })

                                                </div>
                                            </div>
                                            <div class="col-xs-2 moneyname">
                                                Lakhs
                                            </div>
                                            <div class="col-xs-4 noPaddingLR">
                                                <div class="dropdown">
                                                    @Html.DropDownListFor(x => Model.employementDetails.AnnualSalaryInThousand, AnnualSalaryInThousand, new { @class = "form-control  dropdown - menu col - xs - 12" })
                                                </div>
                                            </div>
                                            <div class="col-xs-2 moneyname">
                                                Thousand
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group annualSalary clearfix">
                                        <label>Working Since <span>*</span></label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="col-xs-4 noPaddingL">
                                                <div class="dropdown ">

                                                    @Html.DropDownListFor(x => Model.employementDetails.WorkingSinceYear, WorkingSince, new { @class = "form-control  dropdown - menu col - xs - 12" })
                                                </div>
                                            </div>

                                            <div class="col-xs-4 noPaddingLR">
                                                <div class="dropdown ">
                                                    @Html.DropDownListFor(x => Model.employementDetails.WotkingSinceMonth, WorkingSince, new { @class = "form-control  dropdown - menu col - xs - 12" })
                                                </div>
                                            </div>

                                            <div class="col-xs-1 moneyname">
                                                to
                                            </div>
                                            <div class="col-xs-3 noPaddingLR">
                                                <div class="dropdown">
                                                    @Html.DropDownListFor(x => Model.employementDetails.WorkingTo, WorkingSince, new { @class = "form-control  dropdown - menu col - xs - 12" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group currentLocation clearfix">
                                        <label>Current Location<span>*</span></label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Year
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                                    <li><a href="#">New Delhi</a></li>
                                                </ul>
                                            </div>
                                            @* <div class="checkbox"><label><input type="checkbox" class="checkbox">Outside India</label></div>*@
                                            <div class="checkbox"><label>@Html.CheckBoxFor(x => Model.employementDetails.OutSideIndia, new { @class = "checkbox" })Outside India </label></div>
                                        </div>
                                    </div>

                                    <div class="form-group noticePeriod clearfix">
                                        <label>Notice Period<span>*</span></label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="dropdown ">
                                                @Html.DropDownListFor(x => Model.employementDetails.NoticePeriod, new List<SelectListItem>
                                                                               {new SelectListItem { Text="15 Days or less",Value="1"} ,
                                                                               new SelectListItem { Text="1 Month",Value="2"} ,
                                                                               new SelectListItem { Text="2 Months",Value="3"} ,
                                                                               new SelectListItem { Text="3 Months",Value="4"} ,
                                                                               new SelectListItem { Text="More than 3 Months",Value="5"},
                                                                               new SelectListItem { Text="select",Value="0",Selected=true}}, new { @class = "form-control  dropdown - menu col - xs - 12" })
                                            </div>

                                            <div class="checkbox"><label>@Html.CheckBoxFor(x => Model.employementDetails.ServeNoticePeriod, new { @class = "checkbox" })Serving notice period </label></div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 noPaddingLR">
                                        <input type="submit" class="JSbutton col-xs-12 btn btn-lg" value="Continue" /><span class="pull-right glyphicon glyphicon-arrow-right"></span>

                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                        @*</div>
                            </div>*@
                    </div>
                    <!--/.Panel 2-->
                    <!--Panel 3-->
                    <div class="tab-pane fade" id="panel3" role="tabpanel">
                        @*<div class="container benifits registration">
                            <div class="row">*@
                        @*   <div class="col-xs-6 col-xs-offset-3 steps"><ul><li>Personal Details</li><li>Employment</li><li class="active">Education</li></ul></div>*@
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="col-xs-6 col-xs-offset-3 baseregister">
                                <div class="col-xs-12">
                                    @*<form>*@
                                    <div class="form-group">
                                        <label>Add photo to your profile</label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="col-xs-3 profile_picture noPaddingL">
                                                <img src="images/profile_picture.png">
                                            </div>

                                            <div class="col-xs-9 noPaddingL">
                                                <div class="col-xs-12 profiletxt">
                                                    JobsBridge profile with photo has 40% higher chances of being noticed by Recruiters.
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="col-xs-3 noPaddingL">
                                                        <div class="form-group">
                                                            <span class="btn btn-default btn-file">
                                                                Browse <input type="file">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-9 smapletxt">
                                                        <p>JPEG, PNG, GIF - 3MB max</p>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Describe your professional background in one line</label>
                                        <textarea class="form-control" rows="3" id="comment" placeholder="Senior UI Developer currently living in Delhi"></textarea>
                                        <label class="lbl">Example - MBA in marketing with 9 yrs of experience in account management, business development in FMCG industry</label>
                                    </div>
                                    <hr>
                                    <div class="form-group currentLocation clearfix">
                                        <label>Highest Qualification</label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Select your highest qualification
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                                    <li><a href="javascript:void(0);">Doctorate/Phd</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group currentLocation clearfix">
                                        <label>Course</label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Select your Course
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                                    <li><a href="javascript:void(0);">New Delhi</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group currentLocation clearfix">
                                        <label>Specialization</label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Select Specialization
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                                    <li><a href="javascript:void(0);">New Delhi</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>University/College</label>
                                        <input type="email" class="form-control" id="email" placeholder="Institute Name">
                                    </div>

                                    <div class="form-group">
                                        <label>Course Type</label>
                                        <div class="ctm_radio">
                                            <label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="optradio" value="AM">Full Time</label>
                                            <label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="optradio" value="PM">Part Time</label><label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="optradio" value="PM">Correspondence</label>
                                        </div>
                                    </div>

                                    <div class="form-group currentLocation clearfix">
                                        <label>Passing Year</label>
                                        <div class="col-xs-12 noPaddingLR">
                                            <div class="dropdown ">
                                                @Html.DropDownListFor(x => Model.employementDetails.passingYear, WorkingSince, new { @class = "form-control  dropdown - menu col - xs - 12" })

                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Select
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu7">
                                                    <li><a href="javascript:void(0);">2021</a></li>
                                                    <li><a href="javascript:void(0);">2020</a></li>
                                                    <li><a href="javascript:void(0);">2019</a></li>
                                                    <li><a href="javascript:void(0);">2018</a></li>
                                                    <li><a href="javascript:void(0);">2017</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-xs-12 noPaddingLR">
                                        <input type="submit" class="JSbutton col-xs-12 btn btn-lg" value="Submit" /><span class="pull-right glyphicon glyphicon-arrow-right"></span>

                                    </div>
                                    @*</form>*@*
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Panel 3-->
        </div>
        @*</div>
            </div>*@
        @*</div>*@
        <!-- Registration Process Ends -->
    }
    <div class="container footer">
        <div class="row">
            <h1>Subscribe with Us!</h1>
            <div class="col-xs-6 col-xs-offset-3 subscribe">
                <input type="text" class="form-control " placeholder="Enter Your Email Address">
                <button><span class="glyphicon glyphicon-send"></span></button>
            </div>
            <div class="col-xs-4 col-xs-offset-4 socialButton">
                <div class="col-xs-6 text-align-center"><a href=""><img src="~/Content/images/btn_facebook.png"></a></div><div class="col-xs-6 text-align-center"><a href=""><img src="~/Content/images/btn_gplus.png"></a></div>
            </div>
            <div class="col-xs-6 col-xs-offset-3 footerLinks">
                <ul><li><a href="">Home</a></li><li>|</li><li><a href="">Contact Us</a></li><li>|</li><li><a href="">Feedback</a></li><li>|</li><li><a href="">FAQ</a></li><li>|</li><li><a href="">Terms of Use</a></li><li>|</li><li><a href="">Privacy Policy</a></li></ul>
            </div>
            <div class="col-xs-6 col-xs-offset-3 copyright">
                <div class="col-xs-6 text-align-left txt">Copyright Jobs Bridge 2017. All Right Reserved</div>
                <div class="col-xs-6 text-align-right"><a href=""><img src="~/Content/images/iconFacebook.png"></a><a href=""><img src="images/iconTwitter.png"></a></div>
            </div>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }

        // for browseJobs button
        $("#animate").click(function () {
            $("#content").animate(
                { "width": "450px" },
                "fast");
        });

        //  for Carousel
        $(document).ready(function () {
            $('#media').carousel({
                pause: true,
                interval: false,
            });
        });
    </script>




</body>
</html>
